# Logs
logs
*.log*
.DS_Store

# Runtime data
pids
*.pid
*.seed
*.pid.lock
lib-cov

# nyc test coverage
.nyc_output
.grunt
bower_components
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
node_modules/
jspm_packages/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache*/
.node_repl_history
*.tgz
.yarn-integrity
.env.*
.cache
.parcel-cache
.next
out
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/*
.pnp.*
